/*------------------------------------*\
    $LISTS
\*------------------------------------*/
.list--blocks {
    
    list-style: none;
    
    margin:0;
    padding:0;
    li {
        margin:0;
        background:$white;
        padding:$base-spacing-unit;
        border-bottom:1px solid $grey;
    }
}