html {
    -webkit-font-smoothing: antialiased;
}

@include color-setup("white", $color: $white);

body {
	background:$grey-light;
}


.row {
	max-width:1200px;
	width:100%;
	margin:auto;
	position:relative;
}

.section {
	padding:0 $half-spacing-unit;
}
.section--fixed {
    position:fixed;
    left:0;
    right:0;
    background:$grey-light;
    z-index: 1;
    padding:$base-spacing-unit;
    p {
        margin:0;
    }
}

.section--mast {
    padding-top: $base-spacing-unit * 2;
}