<div ng-include="'partials/navbar.html'"></div>
<div class="view">
	<section class="section section--mast">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
					<h1 class="gamma">Create a Review</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section ">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center one-whole">
					<form role="form" ng-submit="create()" >
						<ul class="form-fields collapse">
							<li >
								<label class="visuallyhidden">Email</label>
								<input type="text" class="text-input" ng-model="title" id="title" placeholder="Title" required/>
							</li>   
						
							<li >
								<label class="visuallyhidden">Content</label>
									<textarea ng-model="content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
							</li>
							<li class="form__submit">
								<button class="btn btn--large btn--primary btn--full" type="submit">Create</button>
							</li>
						</ul>
					</form>	
				</div>
			</div>
		</div>			
			
	</section>
</div>	