<section data-ng-init="findOne()">
	<header class="section section--fixed">
		<div class="row">
			<div class="grid">
				<div class="grid__item one-whole">
					<p>You are Reviewing {{ creative.name }} </p><a class="pull--right" target="_blank" href="/api/reviews/{{review._id}}">view source</a>
				</div>
			</div>	
		</div>
	</header>
	<section ng-repeat="stage in review.stages ">
		<section class="section section--fill" cg-fill-view-port  >
			
			<div class="row">
				<div class="grid">
					<div class="centered--v--h grid__item one-whole text--center">
					
						<h1>{{stage.title}}</h1>
					</div>
				</div>	
			</div>
		</section>

		<section class="section section--fill" cg-fill-view-port  ng-repeat="question in stage.questions ">
			<div class="row">
				<div class="grid">
					<div class="centered--v text--right grid__item four-twelfths text--center">
						
						<knob knob-data="data"  ng-model="question.answer" knob-max='max' knob-options="knobOptions"></knob>
						
					</div>
					<div class="centered--v grid__item six-twelfths push--four-twelfths ">
						
						<h3>{{question.question}}</h3>
					</div>
					
				</div>	
			</div>
			
		</section>
		
	</section>
	<section class="section section--fill" cg-fill-view-port  >
		<div class="row">
			<div class="grid">
				<div class="centered--v--h grid__item one-whole text--center">
					<a type="submit" ng-click="update()" class="btn btn--large  btn--primary">Submit</a> 
				
				</div>
			</div>	
		</div>
		
	</section>


	
</section>