<div class="view">
	<section class="section section--mast">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
				</div>
			</div>
		</div>
	</section>
	<section data-ng-init="find()">
		<div class="row">
			<div class="grid">
				<div class="gird__item one-whole">
					<ul class="matrix  three-cols">
						<li class="creative" data-ng-repeat="creative in creatives">
							<h2><a data-ng-href="/creatives/{{creative._id}}">{{creative.name}}</a></h2>
							<div>{{creative.description}}</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>		

	<h1 data-ng-hide="!creatives || creatives.length">No creatives yet. <br> Why don't you <a href="/creatives/create">Create One</a>?</h1>
		
</div>


