<div class="view">
	<section class="section section--mast">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
					<h1 class="gamma">Welcome back, Governor</h1>
					<p class="" ><a href="/signup" >New here? Create an Account.</a></p>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
					<form class="form " name="form" ng-submit="login(form)" novalidate>
						<ul class="form-fields condense">
							<li >
								<label class="visuallyhidden">Email</label>
								<input type="email" name="email" class="text-input" required placeholder="Email" ng-model="user.email"/>
								<span class="form__error" ng-show="form.email.$error.required && submitted">
									Please enter your email.
								</span>
							</li>   

							<li >
								<label class="visuallyhidden">Password</label>

								<input type="password" placeholder="Password" name="password" required class="text-input" ng-model="user.password">
								
								<span class="form__error" ng-show="form.password.$error.required && submitted">
									Please enter your password.
								</span>  
								
								
								<span class="form__error" ng-show="errors.other">{{ errors.other }}</span>
							</li>
							<li class="form__submit">
								<button class="btn btn--large btn--primary btn--full" type="submit">Log in</button>
							</li>
						</ul>
					</form>
				</div>
			</div>
			<div class="grid grid--center soft--top">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
					<p class="" ><a href="/help" >Need help logging in?</a></p>
				</div>
			</div>
		</div>
	</section>
</div>