
<div class="view">
	<section class="section section--mast" ng-hide="currentUser">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center one-whole">
					<h1 class="kilo">Avoid the <a class="link--text">worst</a>, hire the <a class="link--text">best</a></h1>
					<ul class="nav nav--btn soft--top">
						<li><a class="btn btn--medium btn--primary" href="/signup" >Join Now</a></li>
						<li><a class="btn" href="/about" >Learn More</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--mast" ng-show="currentUser">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center one-whole">
					
					<img class="img--circle" gravatar-src="'{{currentUser.email}}'" gravatar-size="100">
					<h1>{{currentUser.name}}</h1>
				</div>
			</div>
		</div>
		<div class="row marketing">
    <div class="form-group">
        <label for="photos">Input Picture</label>
        <input id="photos" type="file" class="btn" ng-file-select="onFileSelect($files)" multiple>
        <p class="help-block">Select pictures</p>
        <div ng-repeat="file in files" class="container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{file.progress}}%;">
                    {{file.name}} : {{file.progress}}
                </div>
            </div>
            <button class="btn btn-ttc" type="button" ng-click="abort($index)" ng-show="file.progress != 100">Abort</button>
        </div>
    </div>
</div>

	</section>
</div>