<div ng-include="'partials/navbar'"></div>

<div class="view">
	<section class="section section--mast" ng-hide="currentUser">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center one-whole">
					<h1 class="kilo">Avoid the <a class="link--text">worst</a>, hire the <a class="link--text">best</a></h1>
					<ul class="nav nav--btn soft--top">
						<li><a class="btn btn--medium btn--primary" href="/signup" >Join Now</a></li>
						<li><a class="btn" href="/about" >Learn More</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--mast" ng-show="currentUser">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center one-whole">
					<section class="section section--mast ">
						<div class="row">
							<div class="grid grid--center">
								<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
									<h1>{{currentUser.name}}</h1>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
</div>