<div class="row" ng-controller="NavbarCtrl">
	<div class="grid grid--full">
		<div class="grid__item one-twelfth">
			<ul class="nav nav--global">
				<li class="nav__trigger " cg-nav-toggle><a class="" ><span class="nav__trigger__icon"></span></a></li>
			</ul>
			<ul class="nav nav--user">
				<li ng-show="currentUser" class="dropdown" ng-class="{active: isActive('/settings')}">
					<a class="dropdown-toggle" >
						<span class="user--image"><img class="img--circle" gravatar-src="'{{currentUser.email}}'" gravatar-size="35"></span>
						<span class="user--name">{{currentUser.name}}</span>

					</a>
					<ul class="dropdown-menu  text--left">
						<li ng-show="currentUser" ng-class="{active: isActive('/reviews/create')}">
							<a class="" href="/reviews/create">Create A Review</a>
						</li>
						<li ng-show="currentUser" ng-class="{active: isActive('/logout')}">
							<a  href="/settings" >Settings</a>
						</li>
						<li ng-show="currentUser" ng-class="{active: isActive('/logout')}">
							<a href="" ng-click="logout()">Logout</a>
						</li>
						
					</ul>		
				</li>
				
				<li ng-hide="currentUser" ng-class="{active: isActive('/signup')}">
					<a class="btn btn--small btn--secondary"  href="/signup">Sign up</a> <a href="/login">Login</a>
				</li>


				

			</ul>
		</div><!--
		--><div class="grid__item ten-twelfths">
			<ul class="nav nav--brand text--center">
				<li>
					<a ng-href="/">Creative Governor</a>
				</li>
			</ul>	
		</div>	
	</div>	
</div>

