<div class="navigation--push__inner row">
	<div class="navigation--push__content grid">
		<div class="grid__item nine-twelfths palm-one-whole">	
			<ul class="nav nav--pages">
				<li ng-hide="currentUser" ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
					<a ng-href="{{item.link}}">{{item.title}}</a>
				</li>
				<li ng-show="currentUser" ng-class="{active: isActive('/reviews')}">
					<a href="/creatives">Creatives</a>
				</li>
				<li ng-show="currentUser" ng-class="{active: isActive('/reviews')}">
					<a href="/reviews">Reviews</a>
				</li>
				<li ng-show="currentUser" ng-class="{active: isActive('/creatives/add')}">
					<a class="btn btn--small btn--secondary " href="/creatives/add">Add a Company</a>
				</li>
			</ul>
		</div>				
	</div>
</div>
