<div class="view">
	<section class="section section--mast ">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
					<h1>{{currentUser.name}}</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--mast">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
					<h1 class="gamma">Change Your Password</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
					<form class="form " name="form" ng-submit="changePassword(form)" novalidate>
						<ul class="form-fields condense">
							<li >
								<label class="visuallyhidden">Current Password</label>

								<input type="password" placeholder="Current Password" name="password" required class="text-input" ng-model="user.oldPassword">
								
								<span class="form__error" ng-show="form.password.$error.mongoose">
									{{ errors.other }}
								</span>  
								
							</li>
							<li >
								<label class="visuallyhidden">New Password</label>

								<input type="password" placeholder="New Password" name="password" required class="text-input" ng-model="user.newPassword" ng-minlength="3">
								
								<span class="form__error" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
									Password must be at least 3 characters.
								</span> 
								<span class="form__error" ng-show="message" >
									{{ message }}
								</span>  
								
							</li>
							<li class="form__submit">
								<button class="btn btn--large btn--primary btn--full" type="submit">Save changes</button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>