<div ng-include="'partials/navbar.html'"></div>
<div class="view">
	<section class="section section--mast">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
					<h1 class="gamma">Add a Creative</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section ">
		<div class="row">
			<div class="grid grid--center">
				<div class="grid__item text--center five-twelfths lap-seven-twelfths palm-one-whole">
					<form role="form" ng-submit="create()" >
						<ul class="form-fields collapse">
							
							<li >
								<label class="visuallyhidden">Name</label>
								<input type="text" class="text-input" ng-model="name" id="name" placeholder="Name" required/>
							</li>   
						
							<li >
								<label class="visuallyhidden">Description</label>
									<textarea ng-model="description" id="description" cols="20" rows="10" placeholder="Description" class="form-control" required></textarea>
							</li>
							<li class="form__submit">
								<button class="btn btn--large btn--primary btn--full" type="submit">Add</button>
							</li>
						</ul>
					</form>	
				</div>
			</div>
		</div>			
			
	</section>
</div>	